html, body {
  background: #f1f1ed;
  margin: 0; 
  height: 100%; 
  overflow: hidden
}

h1 {
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  font-size: 7vw;
  margin-top: 20px;
  margin-bottom: 10px;
  line-height: 1.1;
  color: #333333;
}

p {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-size: 3vmax;
  margin: 0 0 10px;
  display: inline;
  color: #333333;
}
div#info{
  text-align: center;
  position: absolute;
  width: 1000px;
  height: 189px;
}
button {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-size: 3vmax;
  margin: 0 0 10px;
  display: inline;
  background: transparent;
  color: #000000;
  border: none;

  transition: all 0.5s ease 0s;
}

a {
  text-decoration: none;
  color: #333333;
}

button:hover, button:focus {
  color: #B0B0B0;
}
button:hover a, button:focus a {
  color: #B0B0B0;
}