<header class="siteHeader">

 

  <nav class="navbar navbar-default navbar-static-top" role="navigation">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed white" data-toggle="collapse" data-target="#collapse1">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand brand" href="http://rwbayer.com/">R. W. Bayer</a>
      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="collapse1">
        <ul class="nav navbar-nav navbar-right links">
          <li><a href="/about/">About Me</a></li>
          <li><a href="/technology/">Technology</a></li>
          <li><a href="/projects/">Projects</a></li>
          <li><a href="/quotes/">Quotes</a></li>
          <li><a href="/music/">Music</a></li>
          <li><a href="/books/">Books</a></li>
        </ul>
      </div><!-- /.navbar-collapse -->
    </div>
  </nav>


</header>
