<!DOCTYPE html>
<html>

  <head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width initial-scale=1">

  <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
  <meta name="description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">

  <link rel="stylesheet" href="{{ "/css/main.css" | prepend: site.baseurl }}">

  
  <!-- Google Fonts -->
  <link href='http://fonts.googleapis.com/css?family=Quicksand|La+Belle+Aurore|Josefin+Slab:300|Open+Sans|Oswald' rel='stylesheet' type='text/css'>


	<link rel="stylesheet" href="../css/style.css"> <!-- Resource style -->
	<script src="{{ "/js/modernizr.js" | prepend: site.baseurl }}"></script> <!-- Modernizr -->
  <link rel="stylesheet" href="../css/reset.css"> <!-- CSS reset -->
  
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="{{ "/css/bootstrap.min.css" | prepend: site.baseurl }}">
</head>

  <body>

    <header class="siteHeader">

 

  <nav class="navbar navbar-default navbar-static-top" role="navigation">
    <div class="header">
      <button class="header" style="text-align: right;"><a href="http://rwbayer.com/">home</a></button>
      <p class="header">|</p> 
      <button class="header" style="text-align: left;"><a href="https://medium.com/robert-bayers-projects">projects</a></button>
    </div>
  </nav>


</header>

    <div class="container">
        {{ content }}
    </div>

    <footer class="footer">
  <div class="container">
    <div class="footerContent">
      <div class="col-xs-12 col-sm-6 col-md-4">
        <div class="col-xs-3">
          <a class="social" href="https://github.com/rwbayer">
            <p id="socialIcon">&#62208;</p>
          </a>
        </div>
        <div class="col-xs-3">
          <a class="social" href="https://instagram.com/rwbayer/">
            <p id="socialIcon">&#62253;</p>
          </a>
        </div>
        <div class="col-xs-3">
          <a class="social" href="https://linkedin.com/in/rwbayer">
            <p id="socialIcon">&#62232;</p>
          </a>
        </div>
        <div class="col-xs-3">
          <a class="social" href="https://twitter.com/rwbayer">
            <p id="socialIcon">&#62217;</p>
          </a>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4 col-md-offset-4">
        <p class="rights">Robert Bayer <script type="text/javascript">document.write(new Date().getFullYear());</script>. All Rights Reserved.</p>
      </div>
      
    </div>
  </div>
  <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>

  <script src="{{ "/js/bootstrap.min.js" | prepend: site.baseurl }}"></script>

  <!--<script src="{{ "/js/grid-a-licious.min.js" | prepend: site.baseurl }}"></script>
  <script src="{{ "/js/main.js" | prepend: site.baseurl }}"></script>-->
	
	<script src="{{ "/js/main_timeline.js" | prepend: site.baseurl }}"></script> <!-- Resource jQuery -->

</footer>

    
  </body>

</html>
